ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

.cv {
  position: fixed;
  background-color: #181818;
  width: 45vw;
  height: 99vh;
  top: 5px;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  overflow-y: visible;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  position: relative;
  color: black;
  background-color: white;
  width: 70%;
  height: 95%;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 5%;
  align-items: center;
}

.top {
  display: flex;
  flex-direction: row;
  height: 15%;
  justify-content: center;
  gap: 5%;
  width: 100%;
  border-bottom: black 2px solid;
}

.basic {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 20vw;
}

.basic > h2 {
  text-align: center;
  font-size: 1.5rem;
  align-content: end;
  margin: 0px;
}
.basic > h4 {
  padding-bottom: 2px;
  text-align: center;
  align-content: end;
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0px;
}

.address {
  font-size: 1rem;
  grid-column: 1/3;
}

.summary {
  justify-content: center;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 15%;
  width: 100%;
  height: 10%;
}

.education,
.work {
  width: 100%;
  text-align: start;
}

.education > h3,
.work > h3 {
  padding-left: 5%;
}
.content {
  width: 100%;
  padding-left: 12%;
}

.back {
  position: absolute;
  width: 3.5%;
  height: 3.5%;
  top: 20px;
  left: 20px;
}

.submit {
  background-color: white;
  color: #242424;
  font-size: 1.8rem;
  border: transparent;
  border-radius: 0.5rem;
  padding: 10px;
  transition: background 300ms ease-in-out;
}

.submit:hover {
  background-color: rgb(196, 106, 234);
}
